body{
    
    font-family:'Open Sans', 'Helvetica Neue', sans-serif;
}
header{
    background-color:#FFF8F3 ;
    background-image: url('images/bg.png');
    background-repeat: no-repeat;
    background-position: bottom right;
    padding-bottom: 10px;
}
.nav-bar{
    font-size: 45px;
    color: #000000;
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-bar span{
    color: #FD6E0A;
}
.nav-bar >ul{
    display: flex;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
}
.nav-bar ul li{
    list-style: none;
    margin-left: 50px;

}
.primary-color{
    background-color: #FD6E0A;
    color: white;
    padding: 10px 20px;
    font-weight: 700;
    border-style: none;
    border-radius: 7%;
}
.Mary{
    margin-left: 10%;
    display: flex;
}
.title-text{
    width: 50%;
}
.title-text h4{
    font-size: 45px;
    font-weight:  600;
}
.title-text h1{
    font-size: 85px;
    font-weight: 700;
}
.title-text p{
    font-size: 18px;
    font-weight: 400;
}
.title-img img{
    max-width: 500px;
    margin: -10px;
}
/* header section is the end*/
.about{
    margin: 130px 0;
    background-color: #FFF8F3;
}
.section-title{
    font-size: 35px;
    font-weight: 700;
    text-align: center;
    padding: 15px;
}
.section-description{
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    padding: 10px 50px;
    
}
main{
    max-width: 1140px;
    margin: auto;
}
.about-info-container{
    display: flex;
    justify-content: space-around;
}
.about-info{
    text-align: center;
}