body{
    
    font-family:'Open Sans', 'Helvetica Neue', sans-serif;
}
header{
    background-color:#FFF8F3 ;
    background-image: url('images/bg.png'), url('images/developer.png');
    background-repeat: no-repeat;
    background-position: bottom right, top left;
    
}
.nav-bar{
    font-size: 45px;
    color: #000000;
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-bar span{
    color: #FD6E0A;
}
.nav-bar >ul{
    display: flex;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
}
.nav-bar ul li{
    list-style: none;
    margin-left: 50px;

}
.primary-color{
    background-color: #FD6E0A;
    color: white;
    padding: 10px 20px;
    font-weight: 700;
    border-style: none;
    border-radius: 7%;
}
.Mary{
    margin-left: 10%;
    display: flex;
}
.title-text{
    width: 50%;
    padding-bottom: 30px;
}
.title-text h4{
    font-size: 45px;
    font-weight:  600;
}
.title-text h1{
    font-size: 85px;
    font-weight: 700;
}
.title-text p{
    font-size: 18px;
    font-weight: 400;
}

.title-img img{
    max-width: 500px;
    margin-bottom: -5px;
    
}
/* header section is the end*/
.about{
    margin: 130px 0;
    background-color: #FFF8F3;
}
.section-title{
    font-size: 35px;
    font-weight: 700;
    text-align: center;
    padding: 15px;
}
.section-description{
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    padding: 10px 50px;
    
}
main{
    max-width: 1140px;
    margin: auto;
}
.about-info-container{
    display: flex;
    justify-content: space-around;
}
.about-info{
    text-align: center;
    padding: 20px;
}
.skills-containar{
    display: flex;
    max-width: 1140px;
    margin: auto;
    gap: 24 px;
}
.skills{
    margin: 20px 10px;
    border-radius: 5px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    background: #fff;
    padding:30px ;
}
.skills-title{
    font-size: 20px;
    font-weight: 700;
}
.skills-description{
    font-size: 16px;
    font-weight: 400;
}
.resume{
    display: flex;
    gap: 50px;
    margin: 45px;
}
.education{
    margin: 10px 0;
}
.resume-heading{
    font-size: 30px;
    font-weight: 700;
    color: #474747;
}
.resume-title{
    font-size: 25px;
    font-weight: 700;
    color: #474747;
}
.resume-session{
    font-size: 20px;
    font-weight: 600;
}
.resume-description{
    font-size: 16px;
    font-weight: 400;
    color: #757575;
}
.button{
    text-align: center;
    margin: 20px 0 60px 0;
}
.cv-button{
    background-color: #FD6E0A;
    color: white;
    padding: 10px 20px;
    font-weight: 700;
    border-style: none;
    border-radius: 7%;
    
}
footer{
    background-color: #FFF8F3;
    display: flex;
    gap: 100px;
    padding: 130px 230px;
    margin-top: 30px;
}
.footer-colum{
    width: 50%;
    
}
.footer-title{
    font-size: 35px;
    font-weight: 700;
}
.footer-description{
    font-size: 16px;
    font-weight: 400;
    color: #474747;
    
    
}
.links-icon a{
    margin-right: 20px;
    
}
.contact input, textarea{
    display: block;
    margin-bottom: 20px;
    width: 80%;
    padding: 20px 15px;
    border: 0;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 400;
}
